{% extends "layout.html" %}
{% block content %}
<a href="{{ url_for('home') }}">Cancel</a>
<form method="POST" action="">
    {{ form.hidden_tag() }}
    <div>
        {{form.expensename.label}}:
        {{expense.name}}
        {{form.expensename}}
        {% for error in form.expensename.errors %}
            <h1>{{ error }}</h1>
        {% endfor %}
    </div>
    <div>
        {{form.category.label}}:
        {{expense.category}}
        {{form.category}}
        {% for error in form.category.errors %}
            <h1>{{ error }}</h1>
        {% endfor %}
    </div>
    <div>
        {{form.amount.label}}:
        {{expense.amount}}
        {{form.amount}}
        {% for error in form.amount.errors %}
            <h1>{{ error }}</h1>
        {% endfor %}
    </div>
    <div>
        {{form.date.label}}:
        {{expense.date}}
        {{form.date}}
        {% for error in form.date.errors %}
            <h1>{{ error }}</h1>
        {% endfor %}
    </div>
    <div>
        {{form.submit}}
    </div>
</form>
{% endblock content %}