{% extends "layout.html" %}
{% block content %}
<a href="{{ url_for('expensecreate') }}">Add Expense</a>
<div>
    Name, Category, Amount, Expenses
</div>
{% for expense in expenses %}
<div>
    {{ expense.name }}
    {{ expense.category }}
    {{ expense.amount }}
    {{ expense.date }}
    <div style="display: inline;">
    <form action="/expenseupdate{{ expense.id }}" method="GET" style="display: inline;">
        <button>Edit</button>
    </form>
    <form action="/deleteexpense{{ expense.id }}" method="POST" style="display: inline;">
        <button>Delete</button>
    </form>
    </div>
</div>
{% endfor %}
<a href="{{ url_for('account')}}">Account</a>
{% endblock content %}