{% extends "layout.html" %}
{% block content %}
<form action="" method="POST">
    {{ form.hidden_tag() }}
    <div>
        {{ form.username.label }}
        {{ form.username }}
        {% for error in form.username.errors %}
            <div>{{ error }}</div>
        {% endfor %}
    </div>
    <div>
        {{ form.password.label }}
        {{ form.password }}
        {% for error in form.password.errors %}
            <div>{{ error }}</div>
        {% endfor %}
    </div>
    <div>
        {{ form.submit }}
    </div>
</form>
<div>{{ message }}</div>
<a href="{{ url_for('register')}}">Dont have an account?</a><br>
<a href="{{ url_for('resetpassword') }}">Reset Password</a>
{% endblock content %}