{% extends "layout.html" %}
{% block content %}
<a href="{{ url_for('account')}}">Back</a>
<form action="" method="POST">
    <label id="new_password">New Password</label>
    <input type="password" for="new_password" name="new_password" minlength="8" maxlength="100" required><br>
    <label id="confirm_password">Confirm Password</label>
    <input type="password" for="confirm_password" name="confirm_password" minlength="8" maxlength="100" required><br>
    <input type="submit">
</form>
<div> {{ message }}</div>
{% endblock content %}